
@media (max-width: 1000px) {
  .first_section {
    h1 {
      font-size: 2.5rem;
      margin-top: 27%;
    }
  }
  html {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  .info {
    section {
      width: 45%;
      margin: 20px 5px;
    }
  }
  .testimonial {
    .featured {
      width: 90%;
      margin: 20px auto;
    }
    .right_section {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 870px) {
}

// }
@media (max-width: 840px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .first_section {
    margin-bottom: 3%;
    img {
      width: 80%;
    }
    h1 {
      font-size: 2.3rem;
      margin-top: 30%;
    }
  }
}

@media (max-width: 724px) {
  .first_section {
    h1 {
      font-size: 1.7rem;
      margin-top: 40%;
    }
  }
}

@media (max-width: 640px) {
  .first_section {
    h1 {
      font-size: 1.5rem;
      margin-top: 40%;
    }
  }
}

@media (max-width: 605px) {
  .first_section {
    .image {
      order: 2;
      width: 100%;
    }
    .text {
      order: 1;
      width: 100%;

      h1 {
        text-align: center;
        margin-top: 0rem;
        margin-left: 0.8rem;
        font-size: 2.5rem;
        transition: 2s;
      }
    }
  }

  .wrapper {
    .logo {
      font-size: 1.5rem;
      margin: 0 auto;
      @include mypadding(10px, 25px, 10px, 25px);
    }

    ul {
      margin-bottom: 1rem;
      li {
        a {
          font-size: 0.7rem;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-content: center;

    h6 {
      margin: 1rem 0;
      margin-left: 0;
    }
    .social {
      margin: 0 auto;
      padding: 1rem 0rem;
      padding-left: 2rem;
    }
  }
}

@media (max-width: 460px) {
  .info section {
    width: 80%;
    margin: 20px auto;
  }
  .testimonial .right_section .bottom h5 {
    margin-top: 4rem;
    //    font-size: 1rem;
  }
}
